In [3]:
import pandas as pd
df = pd.read_csv('/home/hacer/Desktop/WtechBitirmeProjesi/dataset/Mental Health Dataset.csv')

In [4]:
print(len(df))

292364

In [5]:
df.head()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  object
 1   Gender                   292364 non-null  object
 2   Country                  292364 non-null  object
 3   Occupation               292364 non-null  object
 4   self_employed            287162 non-null  object
 5   family_history           292364 non-null  object
 6   treatment                292364 non-null  object
 7   Days_Indoors             292364 non-null  object
 8   Growing_Stress           292364 non-null  object
 9   Changes_Habits           292364 non-null  object
 10  Mental_Health_History    292364 non-null  object
 11  Mood_Swings              292364 non-null  object
 12  Coping_Struggles         292364 non-null  object
 13  Work_Interest            292364 non-null  object
 14  Social_Weakness          292364 non-null  object
 15  mental_health_interview  292364 non-null  object
 16  care_options             292364 non-null  object
dtypes: object(17)
memory usage: 37.9+ MB

In [7]:
df = df.drop(columns=['Timestamp'])
df.head()

,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes

In [8]:
df.isnull().sum()

Gender                        0
Country                       0
Occupation                    0
self_employed              5202
family_history                0
treatment                     0
Days_Indoors                  0
Growing_Stress                0
Changes_Habits                0
Mental_Health_History         0
Mood_Swings                   0
Coping_Struggles              0
Work_Interest                 0
Social_Weakness               0
mental_health_interview       0
care_options                  0
dtype: int64

In [9]:
nan_rows = df[df.isna().any(axis=1)]
print("Rows with NaN:")
print(nan_rows)

Rows with NaN:
        Gender         Country Occupation self_employed family_history  \
0       Female   United States  Corporate           NaN             No
1       Female   United States  Corporate           NaN            Yes
2       Female   United States  Corporate           NaN            Yes
121     Female   United States    Student           NaN             No
122     Female   United States    Student           NaN            Yes
...        ...             ...        ...           ...            ...
291754    Male   United States   Business           NaN             No
291755    Male   United States   Business           NaN            Yes
291756    Male          Canada   Business           NaN             No
291757    Male  United Kingdom   Business           NaN             No
291758    Male   United States   Business           NaN             No

       treatment      Days_Indoors Growing_Stress Changes_Habits  \
0            Yes         1-14 days            Yes             No
1            Yes         1-14 days            Yes             No
2            Yes         1-14 days            Yes             No
121          Yes  Go out Every day             No            Yes
122          Yes  Go out Every day             No            Yes
...          ...               ...            ...            ...
291754       Yes        15-30 days             No          Maybe
291755        No        15-30 days             No          Maybe
291756        No        15-30 days             No          Maybe
291757       Yes        15-30 days             No          Maybe
291758       Yes        15-30 days             No          Maybe

       Mental_Health_History Mood_Swings Coping_Struggles Work_Interest  \
0                        Yes      Medium               No            No
1                        Yes      Medium               No            No
2                        Yes      Medium               No            No
121                       No      Medium              Yes         Maybe
122                       No      Medium              Yes         Maybe
...                      ...         ...              ...           ...
291754                    No         Low              Yes            No
291755                    No         Low              Yes            No
291756                    No         Low              Yes            No
291757                    No         Low              Yes            No
291758                    No         Low              Yes            No

       Social_Weakness mental_health_interview care_options
0                  Yes                      No     Not sure
1                  Yes                      No           No
2                  Yes                      No          Yes
121                 No                      No     Not sure
122                 No                      No           No
...                ...                     ...          ...
291754           Maybe                      No           No
291755           Maybe                      No     Not sure
291756           Maybe                   Maybe     Not sure
291757           Maybe                   Maybe           No
291758           Maybe                      No          Yes

[5202 rows x 16 columns]

In [10]:
df = df.dropna(subset=['self_employed'])
print("Rows with NaN have been removed:")
print(df)

Rows with NaN have been removed:
        Gender        Country Occupation self_employed family_history  \
3       Female  United States  Corporate            No            Yes
4       Female  United States  Corporate            No            Yes
5       Female         Poland  Corporate            No             No
6       Female      Australia  Corporate            No            Yes
7       Female  United States  Corporate            No             No
...        ...            ...        ...           ...            ...
292359    Male  United States   Business           Yes            Yes
292360    Male   South Africa   Business            No            Yes
292361    Male  United States   Business            No            Yes
292362    Male  United States   Business            No            Yes
292363    Male  United States   Business            No            Yes

       treatment Days_Indoors Growing_Stress Changes_Habits  \
3            Yes    1-14 days            Yes             No
4            Yes    1-14 days            Yes             No
5            Yes    1-14 days            Yes             No
6            Yes    1-14 days            Yes             No
7             No    1-14 days            Yes             No
...          ...          ...            ...            ...
292359       Yes   15-30 days             No          Maybe
292360       Yes   15-30 days             No          Maybe
292361        No   15-30 days             No          Maybe
292362       Yes   15-30 days             No          Maybe
292363       Yes   15-30 days             No          Maybe

       Mental_Health_History Mood_Swings Coping_Struggles Work_Interest  \
3                        Yes      Medium               No            No
4                        Yes      Medium               No            No
5                        Yes      Medium               No            No
6                        Yes      Medium               No            No
7                        Yes      Medium               No            No
...                      ...         ...              ...           ...
292359                    No         Low              Yes            No
292360                    No         Low              Yes            No
292361                    No         Low              Yes            No
292362                    No         Low              Yes            No
292363                    No         Low              Yes            No

       Social_Weakness mental_health_interview care_options
3                  Yes                   Maybe          Yes
4                  Yes                      No          Yes
5                  Yes                   Maybe     Not sure
6                  Yes                      No     Not sure
7                  Yes                      No           No
...                ...                     ...          ...
292359           Maybe                   Maybe     Not sure
292360           Maybe                      No          Yes
292361           Maybe                      No           No
292362           Maybe                      No          Yes
292363           Maybe                      No          Yes

[287162 rows x 16 columns]

In [11]:
df.isnull().sum()

Gender                     0
Country                    0
Occupation                 0
self_employed              0
family_history             0
treatment                  0
Days_Indoors               0
Growing_Stress             0
Changes_Habits             0
Mental_Health_History      0
Mood_Swings                0
Coping_Struggles           0
Work_Interest              0
Social_Weakness            0
mental_health_interview    0
care_options               0
dtype: int64

In [12]:
for column in df.columns:
    print(f"{column} sütunu için farklı değer sayısı: {df[column].nunique()}")
    print(f"{column} sütunu için değerlerin dağılımı: \n{df[column].value_counts()}")
    print('\n*******************************************\n')  # İstatistikler arasında bir satır boşluk ekleyin

Gender sütunu için farklı değer sayısı: 2
Gender sütunu için değerlerin dağılımı:
Gender
Male      235950
Female     51212
Name: count, dtype: int64

*******************************************

Country sütunu için farklı değer sayısı: 35
Country sütunu için değerlerin dağılımı:
Country
United States             168056
United Kingdom             50624
Canada                     17556
Australia                   6026
Netherlands                 5894
Ireland                     5548
Germany                     4680
Sweden                      2818
India                       2774
France                      2340
Brazil                      2340
New Zealand                 1994
South Africa                1994
Switzerland                 1560
Israel                      1560
Italy                       1560
Belgium                      824
Poland                       824
Russia                       780
Denmark                      780
Singapore                    780
Greece                       780
Czech Republic               390
Georgia                      390
Colombia                     390
Moldova                      390
Mexico                       390
Croatia                      390
Thailand                     390
Nigeria                      390
Bosnia and Herzegovina       390
Portugal                     390
Finland                      390
Costa Rica                   390
Philippines                  390
Name: count, dtype: int64

*******************************************

Occupation sütunu için farklı değer sayısı: 5
Occupation sütunu için değerlerin dağılımı:
Occupation
Housewife    65173
Student      60687
Corporate    60157
Others       51893
Business     49252
Name: count, dtype: int64

*******************************************

self_employed sütunu için farklı değer sayısı: 2
self_employed sütunu için değerlerin dağılımı:
self_employed
No     257994
Yes     29168
Name: count, dtype: int64

*******************************************

family_history sütunu için farklı değer sayısı: 2
family_history sütunu için değerlerin dağılımı:
family_history
No     173668
Yes    113494
Name: count, dtype: int64

*******************************************

treatment sütunu için farklı değer sayısı: 2
treatment sütunu için değerlerin dağılımı:
treatment
Yes    144744
No     142418
Name: count, dtype: int64

*******************************************

Days_Indoors sütunu için farklı değer sayısı: 5
Days_Indoors sütunu için değerlerin dağılımı:
Days_Indoors
1-14 days             62429
31-60 days            59625
Go out Every day      57323
More than 2 months    54918
15-30 days            52867
Name: count, dtype: int64

*******************************************

Growing_Stress sütunu için farklı değer sayısı: 3
Growing_Stress sütunu için değerlerin dağılımı:
Growing_Stress
Maybe    98225
Yes      97854
No       91083
Name: count, dtype: int64

*******************************************

Changes_Habits sütunu için farklı değer sayısı: 3
Changes_Habits sütunu için değerlerin dağılımı:
Changes_Habits
Yes      107579
Maybe     93473
No        86110
Name: count, dtype: int64

*******************************************

Mental_Health_History sütunu için farklı değer sayısı: 3
Mental_Health_History sütunu için değerlerin dağılımı:
Mental_Health_History
No       102179
Maybe     93664
Yes       91319
Name: count, dtype: int64

*******************************************

Mood_Swings sütunu için farklı değer sayısı: 3
Mood_Swings sütunu için değerlerin dağılımı:
Mood_Swings
Medium    99272
Low       98062
High      89828
Name: count, dtype: int64

*******************************************

Coping_Struggles sütunu için farklı değer sayısı: 2
Coping_Struggles sütunu için değerlerin dağılımı:
Coping_Struggles
No     151609
Yes    135553
Name: count, dtype: int64

*******************************************

Work_Interest sütunu için farklı değer sayısı: 3
Work_Interest sütunu için değerlerin dağılımı:
Work_Interest
No       103964
Maybe     99390
Yes       83808
Name: count, dtype: int64

*******************************************

Social_Weakness sütunu için farklı değer sayısı: 3
Social_Weakness sütunu için değerlerin dağılımı:
Social_Weakness
Maybe    101559
No        95627
Yes       89976
Name: count, dtype: int64

*******************************************

mental_health_interview sütunu için farklı değer sayısı: 3
mental_health_interview sütunu için değerlerin dağılımı:
mental_health_interview
No       229304
Maybe     50014
Yes        7844
Name: count, dtype: int64

*******************************************

care_options sütunu için farklı değer sayısı: 3
care_options sütunu için değerlerin dağılımı:
care_options
No          116502
Yes          94498
Not sure     76162
Name: count, dtype: int64

*******************************************

In [13]:
from sklearn.preprocessing import LabelEncoder

# LabelEncoder nesnesini oluşturma
label_encoder = LabelEncoder()

# Dönüşüm yapılacak sütunların listesi
columns_to_encode = ['Gender', 'Country', 'Occupation', 'self_employed', 'family_history', 'treatment',
                     'Days_Indoors', 'Growing_Stress', 'Changes_Habits', 'Mental_Health_History',
                     'Mood_Swings', 'Coping_Struggles', 'Work_Interest', 'Social_Weakness',
                     'mental_health_interview', 'care_options']

# Her bir sütun için dönüşüm yapma
for column in columns_to_encode:
    # Sütunun dönüşümünü gerçekleştirme
    df[column] = label_encoder.fit_transform(df[column])

df.head()

,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
3,0,34,1,0,1,1,0,2,1,2,2,0,1,2,0,2
4,0,34,1,0,1,1,0,2,1,2,2,0,1,2,1,2
5,0,25,1,0,0,1,0,2,1,2,2,0,1,2,0,1
6,0,0,1,0,1,1,0,2,1,2,2,0,1,2,1,1
7,0,34,1,0,0,0,0,2,1,2,2,0,1,2,1,0

In [14]:
X = df.drop(columns=['Mood_Swings'])

In [15]:
y = df['Mood_Swings']

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
X_train

,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
245529,1,31,4,0,1,1,1,2,0,0,0,0,1,1,1
67237,1,33,3,0,0,1,0,0,2,2,0,1,0,2,0
214440,1,34,3,0,0,0,1,1,0,2,0,2,1,1,0
225873,1,34,4,0,0,1,2,2,0,1,1,0,0,1,2
190675,1,34,1,0,1,0,4,1,2,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122321,1,13,0,0,0,0,4,0,2,2,1,1,1,0,0
263920,1,34,4,0,1,1,1,0,2,2,1,1,2,1,1
134574,1,33,4,0,0,0,4,1,2,2,0,0,1,0,1
149759,1,6,1,0,0,0,0,2,0,2,0,1,2,0,2
124430,1,34,0,0,0,0,3,1,2,1,1,2,0,0,1

In [18]:
X_test

,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
250713,1,34,2,1,0,0,0,1,2,1,1,1,2,1,2
140807,1,34,1,1,1,1,2,0,0,0,0,1,2,1,2
13971,0,34,4,0,1,1,2,0,1,1,0,1,2,1,2
160684,1,15,1,0,0,0,2,0,1,0,0,1,0,0,0
47569,0,34,2,0,1,1,4,0,1,0,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189214,1,34,4,0,0,0,1,2,1,0,0,0,0,1,1
248179,1,33,3,0,0,0,1,0,1,2,0,2,0,0,1
30664,0,34,2,0,1,1,2,2,0,0,0,2,0,1,2
170546,1,4,2,0,1,1,3,2,2,1,1,1,1,1,1
42499,0,34,3,0,0,0,0,2,0,1,1,2,1,1,1

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
X_train

array([[ 0.46643202,  0.22471987,  1.40584359, ...,  0.04949597,
         0.34622044,  0.09026058],
       [ 0.46643202,  0.42190322,  0.68451888, ..., -1.17618679,
         2.70811725, -1.08090424],
       [ 0.46643202,  0.5204949 ,  0.68451888, ...,  0.04949597,
         0.34622044, -1.08090424],
       ...,
       [ 0.46643202,  0.42190322,  1.40584359, ...,  0.04949597,
        -2.01567637,  0.09026058],
       [ 0.46643202, -2.24007202, -0.75813055, ...,  1.27517873,
        -2.01567637,  1.2614254 ],
       [ 0.46643202,  0.5204949 , -1.47945526, ..., -1.17618679,
        -2.01567637,  0.09026058]])

In [21]:
X_test

array([[ 0.46643202,  0.5204949 , -0.03680584, ...,  1.27517873,
         0.34622044,  1.2614254 ],
       [ 0.46643202,  0.5204949 , -0.75813055, ...,  1.27517873,
         0.34622044,  1.2614254 ],
       [-2.14393514,  0.5204949 ,  1.40584359, ...,  1.27517873,
         0.34622044,  1.2614254 ],
       ...,
       [-2.14393514,  0.5204949 , -0.03680584, ..., -1.17618679,
         0.34622044,  1.2614254 ],
       [ 0.46643202, -2.43725537, -0.03680584, ...,  0.04949597,
         0.34622044,  0.09026058],
       [-2.14393514,  0.5204949 ,  0.68451888, ...,  0.04949597,
         0.34622044,  0.09026058]])

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.utils import to_categorical

# Çıktı katmanı için sınıf sayısı
output_dim = 3

# Etiketleri kategorik hale getirme
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

giris_katmani = X_train.shape[1]
print(f"input_dim: {giris_katmani}")

input_dim: 15

In [23]:
model = Sequential()
model.add(Dense(256, input_dim=giris_katmani, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(output_dim, activation='softmax'))

In [24]:
model.summary() # modelin özeti

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               4096

 dropout (Dropout)           (None, 256)               0

 dense_1 (Dense)             (None, 128)               32896

 dropout_1 (Dropout)         (None, 128)               0

 dense_2 (Dense)             (None, 64)                8256

 dropout_2 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 3)                 195

=================================================================
Total params: 45443 (177.51 KB)
Trainable params: 45443 (177.51 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
model.compile(loss='categorical_crossentropy', optimizer='nadam', metrics=['accuracy'])

In [26]:
model.fit(X_train, y_train_categorical, epochs=100, batch_size=32, validation_data=(X_test, y_test_categorical))

Epoch 1/100
7180/7180 [==============================] - 12s 2ms/step - loss: 0.8713 - accuracy: 0.5641 - val_loss: 0.4054 - val_accuracy: 0.8425
Epoch 2/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.5223 - accuracy: 0.7613 - val_loss: 0.2739 - val_accuracy: 0.8864
Epoch 3/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.4312 - accuracy: 0.8022 - val_loss: 0.2398 - val_accuracy: 0.8888
Epoch 4/100
7180/7180 [==============================] - 11s 2ms/step - loss: 0.3946 - accuracy: 0.8171 - val_loss: 0.2251 - val_accuracy: 0.8883
Epoch 5/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.3733 - accuracy: 0.8266 - val_loss: 0.2211 - val_accuracy: 0.8937
Epoch 6/100
7180/7180 [==============================] - 11s 2ms/step - loss: 0.3594 - accuracy: 0.8329 - val_loss: 0.2154 - val_accuracy: 0.8882
Epoch 7/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.3501 - accuracy: 0.8380 - val_loss: 0.2128 - val_accuracy: 0.8945
Epoch 8/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.3373 - accuracy: 0.8439 - val_loss: 0.2091 - val_accuracy: 0.9004
Epoch 9/100
7180/7180 [==============================] - 12s 2ms/step - loss: 0.3317 - accuracy: 0.8471 - val_loss: 0.2021 - val_accuracy: 0.8989
Epoch 10/100
7180/7180 [==============================] - 11s 2ms/step - loss: 0.3254 - accuracy: 0.8507 - val_loss: 0.2052 - val_accuracy: 0.9003
Epoch 11/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.3203 - accuracy: 0.8521 - val_loss: 0.2003 - val_accuracy: 0.9023
Epoch 12/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.3167 - accuracy: 0.8545 - val_loss: 0.1939 - val_accuracy: 0.9074
Epoch 13/100
7180/7180 [==============================] - 12s 2ms/step - loss: 0.3108 - accuracy: 0.8574 - val_loss: 0.1923 - val_accuracy: 0.9101
Epoch 14/100
7180/7180 [==============================] - 12s 2ms/step - loss: 0.3072 - accuracy: 0.8586 - val_loss: 0.1856 - val_accuracy: 0.9082
Epoch 15/100
7180/7180 [==============================] - 11s 2ms/step - loss: 0.3040 - accuracy: 0.8610 - val_loss: 0.1833 - val_accuracy: 0.9113
Epoch 16/100
7180/7180 [==============================] - 12s 2ms/step - loss: 0.2991 - accuracy: 0.8642 - val_loss: 0.1818 - val_accuracy: 0.9143
Epoch 17/100
7180/7180 [==============================] - 11s 2ms/step - loss: 0.2972 - accuracy: 0.8648 - val_loss: 0.1739 - val_accuracy: 0.9177
Epoch 18/100
7180/7180 [==============================] - 11s 2ms/step - loss: 0.2927 - accuracy: 0.8669 - val_loss: 0.1719 - val_accuracy: 0.9214
Epoch 19/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2923 - accuracy: 0.8687 - val_loss: 0.1679 - val_accuracy: 0.9239
Epoch 20/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2882 - accuracy: 0.8701 - val_loss: 0.1659 - val_accuracy: 0.9253
Epoch 21/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2865 - accuracy: 0.8722 - val_loss: 0.1608 - val_accuracy: 0.9326
Epoch 22/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2854 - accuracy: 0.8725 - val_loss: 0.1622 - val_accuracy: 0.9286
Epoch 23/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2813 - accuracy: 0.8747 - val_loss: 0.1590 - val_accuracy: 0.9294
Epoch 24/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2784 - accuracy: 0.8764 - val_loss: 0.1540 - val_accuracy: 0.9384
Epoch 25/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2791 - accuracy: 0.8768 - val_loss: 0.1509 - val_accuracy: 0.9389
Epoch 26/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2762 - accuracy: 0.8776 - val_loss: 0.1498 - val_accuracy: 0.9393
Epoch 27/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2752 - accuracy: 0.8788 - val_loss: 0.1493 - val_accuracy: 0.9463
Epoch 28/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2720 - accuracy: 0.8804 - val_loss: 0.1428 - val_accuracy: 0.9399
Epoch 29/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2706 - accuracy: 0.8814 - val_loss: 0.1456 - val_accuracy: 0.9418
Epoch 30/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2691 - accuracy: 0.8824 - val_loss: 0.1477 - val_accuracy: 0.9427
Epoch 31/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2681 - accuracy: 0.8828 - val_loss: 0.1420 - val_accuracy: 0.9441
Epoch 32/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2662 - accuracy: 0.8833 - val_loss: 0.1409 - val_accuracy: 0.9450
Epoch 33/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2658 - accuracy: 0.8844 - val_loss: 0.1365 - val_accuracy: 0.9438
Epoch 34/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2631 - accuracy: 0.8849 - val_loss: 0.1397 - val_accuracy: 0.9458
Epoch 35/100
7180/7180 [==============================] - 9s 1ms/step - loss: 0.2623 - accuracy: 0.8867 - val_loss: 0.1323 - val_accuracy: 0.9479
Epoch 36/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2622 - accuracy: 0.8852 - val_loss: 0.1349 - val_accuracy: 0.9488
Epoch 37/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2605 - accuracy: 0.8868 - val_loss: 0.1373 - val_accuracy: 0.9492
Epoch 38/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2608 - accuracy: 0.8868 - val_loss: 0.1292 - val_accuracy: 0.9520
Epoch 39/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2595 - accuracy: 0.8885 - val_loss: 0.1309 - val_accuracy: 0.9516
Epoch 40/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2591 - accuracy: 0.8878 - val_loss: 0.1288 - val_accuracy: 0.9512
Epoch 41/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2564 - accuracy: 0.8894 - val_loss: 0.1284 - val_accuracy: 0.9515
Epoch 42/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2551 - accuracy: 0.8897 - val_loss: 0.1291 - val_accuracy: 0.9517
Epoch 43/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2557 - accuracy: 0.8893 - val_loss: 0.1303 - val_accuracy: 0.9528
Epoch 44/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2533 - accuracy: 0.8902 - val_loss: 0.1292 - val_accuracy: 0.9509
Epoch 45/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2545 - accuracy: 0.8900 - val_loss: 0.1255 - val_accuracy: 0.9535
Epoch 46/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2551 - accuracy: 0.8905 - val_loss: 0.1294 - val_accuracy: 0.9539
Epoch 47/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2525 - accuracy: 0.8925 - val_loss: 0.1341 - val_accuracy: 0.9534
Epoch 48/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2508 - accuracy: 0.8920 - val_loss: 0.1259 - val_accuracy: 0.9546
Epoch 49/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2533 - accuracy: 0.8917 - val_loss: 0.1256 - val_accuracy: 0.9558
Epoch 50/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2495 - accuracy: 0.8925 - val_loss: 0.1280 - val_accuracy: 0.9560
Epoch 51/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2494 - accuracy: 0.8932 - val_loss: 0.1214 - val_accuracy: 0.9553
Epoch 52/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2497 - accuracy: 0.8937 - val_loss: 0.1267 - val_accuracy: 0.9564
Epoch 53/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2500 - accuracy: 0.8940 - val_loss: 0.1235 - val_accuracy: 0.9551
Epoch 54/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2478 - accuracy: 0.8947 - val_loss: 0.1203 - val_accuracy: 0.9560
Epoch 55/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2473 - accuracy: 0.8955 - val_loss: 0.1230 - val_accuracy: 0.9590
Epoch 56/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2480 - accuracy: 0.8951 - val_loss: 0.1230 - val_accuracy: 0.9558
Epoch 57/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2478 - accuracy: 0.8951 - val_loss: 0.1184 - val_accuracy: 0.9597
Epoch 58/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2470 - accuracy: 0.8958 - val_loss: 0.1155 - val_accuracy: 0.9589
Epoch 59/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2462 - accuracy: 0.8960 - val_loss: 0.1238 - val_accuracy: 0.9582
Epoch 60/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2438 - accuracy: 0.8967 - val_loss: 0.1199 - val_accuracy: 0.9572
Epoch 61/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2461 - accuracy: 0.8958 - val_loss: 0.1185 - val_accuracy: 0.9611
Epoch 62/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2447 - accuracy: 0.8963 - val_loss: 0.1188 - val_accuracy: 0.9590
Epoch 63/100
7180/7180 [==============================] - 11s 2ms/step - loss: 0.2445 - accuracy: 0.8969 - val_loss: 0.1199 - val_accuracy: 0.9607
Epoch 64/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2435 - accuracy: 0.8973 - val_loss: 0.1181 - val_accuracy: 0.9596
Epoch 65/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2433 - accuracy: 0.8978 - val_loss: 0.1148 - val_accuracy: 0.9605
Epoch 66/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2426 - accuracy: 0.8977 - val_loss: 0.1174 - val_accuracy: 0.9578
Epoch 67/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2412 - accuracy: 0.8985 - val_loss: 0.1144 - val_accuracy: 0.9598
Epoch 68/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2423 - accuracy: 0.8981 - val_loss: 0.1204 - val_accuracy: 0.9590
Epoch 69/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2429 - accuracy: 0.8982 - val_loss: 0.1164 - val_accuracy: 0.9579
Epoch 70/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2424 - accuracy: 0.8984 - val_loss: 0.1227 - val_accuracy: 0.9587
Epoch 71/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2416 - accuracy: 0.8986 - val_loss: 0.1173 - val_accuracy: 0.9600
Epoch 72/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2423 - accuracy: 0.8977 - val_loss: 0.1193 - val_accuracy: 0.9587
Epoch 73/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2422 - accuracy: 0.8995 - val_loss: 0.1211 - val_accuracy: 0.9602
Epoch 74/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2371 - accuracy: 0.8995 - val_loss: 0.1195 - val_accuracy: 0.9613
Epoch 75/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2408 - accuracy: 0.8990 - val_loss: 0.1147 - val_accuracy: 0.9631
Epoch 76/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2386 - accuracy: 0.8998 - val_loss: 0.1150 - val_accuracy: 0.9624
Epoch 77/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2408 - accuracy: 0.8994 - val_loss: 0.1147 - val_accuracy: 0.9614
Epoch 78/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2374 - accuracy: 0.9000 - val_loss: 0.1195 - val_accuracy: 0.9598
Epoch 79/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2386 - accuracy: 0.8991 - val_loss: 0.1129 - val_accuracy: 0.9604
Epoch 80/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2403 - accuracy: 0.9003 - val_loss: 0.1175 - val_accuracy: 0.9596
Epoch 81/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2380 - accuracy: 0.8998 - val_loss: 0.1120 - val_accuracy: 0.9624
Epoch 82/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2365 - accuracy: 0.9003 - val_loss: 0.1111 - val_accuracy: 0.9613
Epoch 83/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2363 - accuracy: 0.9011 - val_loss: 0.1154 - val_accuracy: 0.9615
Epoch 84/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2394 - accuracy: 0.9008 - val_loss: 0.1125 - val_accuracy: 0.9618
Epoch 85/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2369 - accuracy: 0.9012 - val_loss: 0.1109 - val_accuracy: 0.9622
Epoch 86/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2354 - accuracy: 0.9015 - val_loss: 0.1099 - val_accuracy: 0.9632
Epoch 87/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2370 - accuracy: 0.9017 - val_loss: 0.1089 - val_accuracy: 0.9625
Epoch 88/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2378 - accuracy: 0.9007 - val_loss: 0.1136 - val_accuracy: 0.9628
Epoch 89/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2359 - accuracy: 0.9021 - val_loss: 0.1147 - val_accuracy: 0.9631
Epoch 90/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2380 - accuracy: 0.9014 - val_loss: 0.1104 - val_accuracy: 0.9606
Epoch 91/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2341 - accuracy: 0.9021 - val_loss: 0.1123 - val_accuracy: 0.9596
Epoch 92/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2346 - accuracy: 0.9018 - val_loss: 0.1168 - val_accuracy: 0.9626
Epoch 93/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2363 - accuracy: 0.9025 - val_loss: 0.1151 - val_accuracy: 0.9636
Epoch 94/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2328 - accuracy: 0.9027 - val_loss: 0.1089 - val_accuracy: 0.9642
Epoch 95/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2338 - accuracy: 0.9032 - val_loss: 0.1163 - val_accuracy: 0.9607
Epoch 96/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2360 - accuracy: 0.9026 - val_loss: 0.1091 - val_accuracy: 0.9642
Epoch 97/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2349 - accuracy: 0.9020 - val_loss: 0.1083 - val_accuracy: 0.9623
Epoch 98/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2348 - accuracy: 0.9028 - val_loss: 0.1150 - val_accuracy: 0.9651
Epoch 99/100
7180/7180 [==============================] - 11s 1ms/step - loss: 0.2353 - accuracy: 0.9028 - val_loss: 0.1101 - val_accuracy: 0.9612
Epoch 100/100
7180/7180 [==============================] - 10s 1ms/step - loss: 0.2307 - accuracy: 0.9047 - val_loss: 0.1106 - val_accuracy: 0.9639

In [27]:
model.save('bitirme_projesi.h5')

/home/hacer/Desktop/WtechBitirmeProjesi/bitirme_projesi/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(